// responsiveness
$mobile: 500px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

.weather_board_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: auto;

    @include mobile {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .weather_board {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(83, 155, 214);
        align-items: center;
        padding: 15px;
        border-radius: 2px;
        box-shadow: 5px 5px 10px rgb(0, 28, 153);

        @include mobile {
            width: 100%;
            margin-bottom: 15px;
        }

        .title {
            text-align: center;
        }
    }

    .weather_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @include mobile {
            width: 100%;
        }

        .message {
            width: 100%;
            padding: 5px;
            text-align: center;
            border-radius: 2px;
            font-size: 10px;
            height: 0;
            transition: 0.3s;
            background-color: rgb(65, 65, 65);

            @include mobile {
                width: 80%;
            }

            &.show {
                border: 1px solid rgb(0, 0, 0);
                height: auto;
            }

            &.isSuccess {
                background-color: rgb(155, 204, 21);
                border: 3px solid rgb(100, 250, 0);
                box-shadow: 3px 3px 5px rgb(71, 133, 0);
            }

            &.isError {
                background-color: rgb(206, 94, 94);
                border: 3px solid rgb(223, 0, 0);
                box-shadow: 3px 3px 5px rgb(85, 0, 0);
            }
        }

        .weather_input {
            width: 100%;
            padding: 5px;
            border-radius: 2px;
            border: 1px solid #000;
            background-color: rgb(82, 82, 82);
            font-size: 10px;

            &:focus {
                border: 2px solid rgb(0, 128, 248);
            }

            &.isInvalid {
                border: 2px solid rgb(255, 0, 0);
            }

            &.isValid {
                border: 2px solid rgb(39, 233, 0);
            }

            @include mobile {
                width: 80%;
            }
        }

        .submit_button {
            border: 1px solid #fff;
            background-color: rgb(92, 115, 124);
            border-radius: 2px;
        }
    }

    .weather_credit {
        width: 100%;
        grid-column: 1/3;

        @include mobile {
            width: 100%;
            text-align: center;
            grid-column: 1;
        }

        .credit_link {
            color: rgb(218, 255, 247);
        }
    }
}
